<div class="card mb-3">
    <div class="card-header">
        <h4 class="text-center m-1">XÁC MINH TÀI KHOẢN</h4>
    </div>
    <div class="card-body">
        {{#if status}}
            <div class="row bg-warning m-3">
                <div class="col">
                    <p class="m-2" style="font-weight:bold;">{{status}}</p>
                </div>
            </div>
        {{/if}}

        <form class="form-horizontal" action="/customer/verify-account?accountId={{{accountId}}}&isSignIn={{isSignIn}}&token={{{token}}}" method="POST">
            <input type="hidden" name="accountId" value="{{{accountId}}}"/>
            <div class="form-group">
                <label class="control-label col-sm-2" for="confirmationCode">Mã xác nhận:</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control" name="confirmationCode" id="confirmationCode" placeholder="Nhập mã xác nhận..." required />
                </div>
            </div>
            <div class="form-group" style="margin-top: 20px;">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">Xác nhận</button>
                    <a href="/customer/sign-in" class="btn btn-primary">Đăng nhập lại</a>
                </div>
            </div>
        </form>
    </div>
</div>